body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

/* Head Tab*/
.body-container {
  display: flex;
  flex-direction: column;
}

.head-box {
  background-color: #1f2937;
  padding: 10px 120px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-logo {
  font-size: 24px;
  color: #f9faf8;
  margin: 0;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 16px;
}

a {
  text-decoration: none;
  font-size: 13px;
  color: #e5e7eb;
}

a:hover {
  color: cadetblue;
}

/*Header Hero Tab*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  gap: 30px;
}

.content {
  flex: 1 1 50%;
  flex-wrap: wrap;
}

.content h2 {
  margin: 0;
  font-size: 42px;
  color: #f9faf8;
  font-weight: 700;
}

.content p {
  margin: 0;
  font-size: 18px;
  color: #99bafc;
}

.content button {
  background-color: #3882f6;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  padding: 6px 12px;
  margin-top: 12px;
}

.content button:hover {
  background-color: #4872b1;
}

.image-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 1 50%;
  height: 200px;
  background-color: #808080;
  border-radius: 8px;
  color: #fff;
}

/*Information Tab*/
.information {
  text-align: center;
}

.information h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.info-box-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.info-box-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.info-box {
  width: 90%;
  height: 150px;
  border-radius: 8px;
  border: 2px solid #3882f6;
  margin-bottom: 10px;
}

.info-text {
  text-align: center;
  word-wrap: break-word;
}

/*Quote Tab*/
.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfcfcf;
  margin-top: 25px;
}

.quote-text {
  font-size: 34px;
  font-style: italic;
  font-weight: 200;
  color: #1f2937;
}

/*Call To Action Tab*/
.CTA {
  padding: 25px 15px;
  border-radius: 8px;
  text-align: left;
  background-color: #3882f6;
  color: #fff;
  margin: 60px 20%;
}

.cta-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cta-text {
  flex: 1;
}

.cta-text h2 {
  font-size: 24px;
  margin: 0;
}

.cta-text p {
  font-size: 14px;
  margin: 0;
}

.cta-btn {
  background-color: #3882f6;
  color: #fff;
  padding: 12px 20px;
  border: 2px solid #fff;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.3s;
  border-radius: 6px;
}

.cta-btn:hover {
  background-color: #2f4f7f;
}

/*Footer*/
.footer {
  height: 42px;
  background-color: #2f4f7f;
}

.footer p {
  color: #fff;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  justify-content: center;
  align-items: center;
  text-align: center;
}
